<nav class="navbar navbar-expand-lg" [ngClass]="addNavigatedClass()">
    <div class="container">
        <a class="logo" href="/"><img src="assets/download 1.png" alt="Logo"></a>
        <button class="navbar-toggler" [ngClass]="addNavigatedClass()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="addNavigatedClass()">
            <form class="col-4" [style.display]="hideFormAndUser()">
                <input #s (keyup.enter)="search(s.value)" [value]="searchTerm" class="form-control me-2" type="search"
                    placeholder="ما الذي تبحث عنه" aria-label="Search" [hidden]="hideFormAndUser()">
                <button (click)="search(s.value)" class="btn" type="submit" [hidden]="hideFormAndUser()">
                    <i class="fa-solid fa-magnifying-glass d-flex align-items-center"></i>
                </button>
            </form>
            <ul class="navbar-nav" [ngClass]="addNavigatedClass()">
                <li>
                    <div class="icon-button-container">
                        <i class="notification fa-regular fa-bell"></i>
                        <button class="lang-switch mx-2">AR</button>
                    </div>
                </li>
                
                <li>
                    <div class="user" [hidden]="hideFormAndUser()">
                        <img class="userImg" src="assets/Ellipse 1.png" alt="userImg">
                        <ul class="userInfo">
                            <li class="name">فهد</li>
                            <li class="position">مدقق الشكاوي</li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>